body
{
Background-image:url('p.jpg');
}
#mymenu
{
background-color:rgba(0,0,0,0.5);
color:white;
text-align: right;
}
#mymenu ul li 
{
display:inline-block;
padding:12px;
}

#data
{
margin-top:150px;
}

table
{
color:white;
background-color:rgba(0,0,0,0.5);
box-shadow:20px 20px 20px white;
}

.t1
{
border-radius:30px;
}

.B
{
width:80px;
height:40px;
background:linear-gradiant(to right,red,black);
}

.B:hover
{
background:linear-gradiant(to right,black,red);
}
